.logsign{
    /* Set background image */
    background-image: url('D:/busBreeze-full-stack/client/busbreeze/src/assets/clay-leconey-hxNW53TdOro-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }
  .backscreen{
    background-image: url('D:/busBreeze-full-stack/client/busbreeze/src/assets/clay-leconey-hxNW53TdOro-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

  }